.purple {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.main {
    width: 50;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    margin-top: 100px;
}

//login component token
@media (max-width: 599px) {
    .main{
        width: 100%;
        height: fit-content;
        padding: 20px;
        display: flex;
        flex-direction: row;
        border: 1px solid black;
        margin-top: 100px;
    }

    .orange{
        width: 100%;
    }
    .imgtag{
        display: none;
    }
    .purple {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    /* … */
}